.DS_Store
.idea/

apps/products/migrations/
apps/orders/migrations/
apps/carts/migrations/
apps/newsletter/migrations/

apps/__pycache__/
config/__pycache__/
config/settings/__pycache__/

apps/products/__pycache__/
apps/orders/__pycache__/
apps/carts/__pycache__/
apps/newsletter/__pycache__/



